In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print("My name is Peter Gachuki.")

My name is Peter Gachuki.

This is just sample text

# Data Sourcing
## Sub heading 1

In [ ]:
print("This is where we are going to load our data")

This is where we are going to load our data

# Data Cleaning

In [ ]:
print("This is where we are going to clean our data")

This is where we are going to clean our data

Comments - they are written in code cells but are not executed as actual code

- Explain pieces of code (prior)
- Debugging - solving for errors in code

In [ ]:
# a line of code that explains my opinion on Python
# Commenting is very important
print("Python is an awesome programming language")

Python is an awesome programming language

In [ ]:
print("This is the first line")
print("Second line")
# prin("Third line")
print("Forth line")
print("Fifth line")

This is the first line
Second line
Forth line
Fifth line

Variables - is a store for a value

Syntax:

variable_name = value

In [ ]:
name = "Peter Gachuki"

print(name)

Peter Gachuki

Rules that need to be followed when naming variables:

- Variable names should only have the following characters: uppercase letters, lowercase letters, numbers, underscore (We cannot have special characters within variable names eg &, ., , , ()
- Variable names should always start with a lowercase letter
- Variable names should not have white spaces
1. Snake casing eg first_name, school_location, backup_plan etc
2. Camel casing eg. firstName, schoolLocation, backupPlan etc
- The variable name should not be one of the python reserved keywords

In [ ]:
# if
# else
# while
# for
# int
# str
# float
# bool
# def
# return
# import
# as
# in

In [ ]:
print("My name is Peter")

My name is Peter

Formatted Strings (f strings)

- Allow us to write a combination of custom text and variables within a single print statement

In [ ]:
name = "Mary Akinyi"
location = "Kikuyu"
school = "eMobilis Technology Training Institute"

print(f"My name is {name}. I live in {location} and I go to school at {school}")

My name is Mary Akinyi. I live in Kikuyu and I go to school at eMobilis Technology Training Institute

In [ ]:
user_name = input("Enter your name here : ")
print(f"Welcome to this great platform, {user_name}")

Enter your name here : John Doe
Welcome to this great platform, John Doe

1. Write a python script that displays a list of your hobbies in separate print statements (intro, hobbies)

studenthub2024 - Emobilis SO

In [ ]:
print("My name is John Doe and my hobbies are as follows: ")
print("1. Playing Piano")
print("2. Reading Books")
print("3. Writing Code")
print("4. Swimming")

My name is John Doe and my hobbies are as follows:
1. Playing Piano
2. Reading Books
3. Writing Code
4. Swimming

In [ ]:
# Triple pair strings
print('''
My name is John Doe and my hobbies are as follows:
1. Playing Piano




2. Reading Books
3. Writing Code
        4. Swimming
''')

My name is John Doe and my hobbies are as follows:
1. Playing Piano




2. Reading Books
3. Writing Code
        4. Swimming

2. Write a python script with 8 line of code (print statements). Include an intentional error on line 7. Inspect the error then comment it out

In [ ]:
print("One")
print("Two")
print("Three")
print("Four")
print("Five")
print("Six")
# print("Seven)
print("Eight")

One
Two
Three
Four
Five
Six
Eight

3. Write a python script that takes in the following information from the user:
Their first name, second name, occupation, where they studied and their 5 year plan.

eg. My name is John Doe. I am a medical practitioner. I studied in University of Nairobi and my 5 year plan is as follows: I want to get my PhD and specialize in cardiology. I want to write and publish my own book.

In [ ]:
first_name = input("Enter your first name : ")
second_name = input("Enter your second name : ")
occupation = input("Enter your occupation : ")
studied = input("Enter where you studied : ")
plan = input("Enter your 5 year plan : ")

print(f"My name is {first_name} {second_name}. I am a {occupation}. I studied in {studied}. My five year plan is {plan}")

Enter your first name : Jane
Enter your second name : Njeri
Enter your occupation : Farmer
Enter where you studied : Kisumu
Enter your 5 year plan : Immense agricultural success
My name is Jane Njeri. I am a Farmer. I studied in Kisumu. My five year plan is Immense agricultural success

Datatypes

1. Strings
2. Numerical datatypes - integer, float
3. Sequential datatypes - list, tuple, set
4. Dictionary
5. Boolean

# Strings

- A string is a character, word, bunch of words, sentence, paragraph, article etc that contains text information.
- It is defined using quotation marks (either single or double quotes)
- We can have a combination of custom text and variables in a single string using the formatted strings (f strings)

In [ ]:
phone = "Samsung"

print(type(phone))

print(f"I use a {phone} mobile phone")

<class 'str'>
I use a Samsung mobile phone

This is Ann's book. It doesn't look well maintained

In [ ]:
print("This is Anne's book. It doesn't look well maintained")

This is Anne's book. It doesn't look well maintained

He said to me, "I am looking forward to the potential partnership"

In [ ]:
print('He said to me, "I am looking forward to the potential parnership".')

He said to me, "I am looking forward to the potential parnership".

In [ ]:
language = "Python"

print(language.upper())

PYTHON

In [ ]:
print(language)

Python

In [ ]:
language_upper = language.upper()

print(language)
print(language_upper)

Python
PYTHON

In [ ]:
print(language.lower())

python

In [ ]:
print(language.replace("P", "J"))

Jython

In [ ]:
print(language)

# Numerical Datatypes

## Integers

- Whole number values (both positive and negative)

## Floats

- Numbers that have a decimal point

In [ ]:
number = 40

print(number)

40

In [ ]:
number_2 = 3.142

print(number_2)

3.142

Mathematical Operations

1. Addition +
2. Subtraction -
3. Division /
4. Multiplication *
5. Floor Division // - returns the quotient from a division between two numbers
6. Exponent ** - raised to the power of
7. Modulus % - the remainder from a division between two numbers

In [ ]:
print(100 + 43.8)

143.8

In [ ]:
print(50 - 62.156)

-12.155999999999999

In [ ]:
print(89 * 43)

3827

In [ ]:
print(1212 / 91)

13.31868131868132

In [ ]:
print(10 // 3)

3

In [ ]:
print(5 ** 3)

125

In [ ]:
print(10 % 3)

1

In [ ]:
number_1 = input("Enter the first number : ")
number_2 = input("Enter the second number : ")

print(f"The sum of {number_1} and {number_2} is {number_1 + number_2}")

Enter the first number : 15
Enter the second number : 32
The sum of 15 and 32 is 1532

Type casting / type conversion

In [ ]:
number = input("Enter a number : ")

number = int(number)

print(type(number))

print(number + 10)

Enter a number : 121
<class 'int'>
131

In [ ]:
print(type(5.0))

<class 'float'>

1. Write a python script that takes the age of the user and returns their year of birth

In [ ]:
age = int(input("Enter your age here : "))

current_year = 2025
year_of_birth = current_year - age

print(f"Your year of birth is {year_of_birth}")

Enter your age here : 55
Your year of birth is 1970

2. Write a python script that takes in the ages of 2 people and returns the age each will be in the year 2035

In [ ]:
age_1 = int(input("Enter the age of person 1 : "))
age_2 = int(input("Enter the age of person 2 : "))

years_elapsed = 2035 - 2025

print(f"Person 1 will be {age_1 + years_elapsed} years old in the year 2035")
print(f"Person 2 will be {age_2 + years_elapsed} years old in the year 2035")

Enter the age of person 1 : 32
Enter the age of person 2 : 25
Person 1 will be 42 years old in the year 2035
Person 2 will be 35 years old in the year 2035

3. Write a python script that takes in 2 numbers. Perform mathematical operations on them such that the result is as such: x / y is equal to a remainder b (use both the floor division and modulus)

In [ ]:
number1 = int(input("Enter the first number : "))
number2 = int(input("Enter the second number : "))

floor_div = number1 // number2
remainder = number1 % number2

print(f"{number1} / {number2} is equal to {floor_div} remainder {remainder}")

Enter the first number : 10
Enter the second number : 3
10 / 3 is equal to 3 remainder 1

Write a python script that takes in two numbers and performs the following operations:
addition, subtraction, multiplication, division, floor division, exponent, modulus such that for every 2 numbers, we have such an output:

eg. 10 and 2 as our numbers

10 + 2 = 12

10 - 2 = 8

10 / 2 = 5

10 * 2 = 20

10 // 2 = 5

10 ** 2 = 100

10 % 2 = 0

In [ ]:
num1 = int(input("Enter the first number here : "))
num2 = int(input("Enter the second number here : "))

addition = num1 + num2
subtraction = num1 - num2
division = num1 / num2
multiplication = num1 * num2
floor_div = num1 // num2
exponent = num1 ** num2
modulus = num1 % num2

print(f"""
{num1} + {num2} = {addition}
{num1} - {num2} = {subtraction}
{num1} / {num2} = {round(division, 3)}
{num1} * {num2} = {multiplication}
{num1} // {num2} = {floor_div}
{num1} ** {num2} = {exponent}
{num1} % {num2} = {modulus}
""")

Enter the first number here : 130
Enter the second number here : 12

130 + 12 = 142
130 - 12 = 118
130 / 12 = 10.833
130 * 12 = 1560
130 // 12 = 10
130 ** 12 = 23298085122481000000000000
130 % 12 = 10

1. Divisibility
2. Len()
3. Assignment Operators

Check if 96 is divisible by 12

In [ ]:
print(96 % 12)

0

Check if 473948 is divisible by 36

studenthub2024 - emobilis so

In [ ]:
print(10 / 2)

5.0

In [ ]:
print(10 % 2)

0

Len() returns the number of characters present in a string

In [ ]:
print(len("My name is Peter"))

16

split() - separating a string according to the defined separator

In [ ]:
statement = "The quick brown fox jumps over the lazy dog."

statement_words = statement.split(sep=" ")

print(statement_words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

In [ ]:
statement = "The quick brown fox jumps over the lazy dog."

print(statement.split(sep="fox"))

['The quick brown ', ' jumps over the lazy dog.']

Puppies are NOT man's best friend

In [ ]:
article = """Research shows that puppy fur contains allergens. In USA, there have been reports of black men shooting at puppy targets on shooting ranges just to piss off white men.
In China, it is reported that people breed dogs with the sole purpose of consuming them. Puppies are playful animals. They like to chew on your personal things like socks and shoes.
There have been reports of dogs trying to protect home owners from wild animals. Puppies have been known to act as excellent emotional support animals. Puppies are loyal. They are adorable. Dogs and cats can co-exist"""

print(len(article.split(sep=".")))

10

Write a python script that does the following:
1. It takes inputs from the user - Name, email address, phone number, location where they live and an article on why they should be considered for a scholarship opportunity.
2. There should be a clear instruction that the article should not be less than 50 words or more than 200 words.
3. Convert the name to uppercase so that there is consistency in storage.
4. Calculate the number of sentences the user has used in their article
5. Calculate the number of words the user has used in their article
6. Calculate the number of characters the user has used in their article
7. Calculate the average number of words per sentence for the user
8. Calculate the average number of characters per word for the user
9. Calculate the average number of characters per sentence for the user

In [ ]:
name = input("Enter your name here : ").upper()
email_address = input("Enter your email address here : ")
phone_number = input("Enter your phone number here : ")
location = input("Enter the location where you live here : ")
article = input("Write a short article on why you should be considered for a scholarship opportunity (It should be between 50-200 words): ")

sentences = article.split(sep=". ")
no_of_sentences = len(sentences)

words = article.split(sep=" ")
no_of_words = len(words)

no_of_characters = len(article)

words_per_sentence = no_of_words / no_of_sentences
characters_per_word = no_of_characters / no_of_words
characters_per_sentence = no_of_characters / no_of_sentences

print(f"The number of sentences in the article is {no_of_sentences}")
print(f"The number of words in the article is {no_of_words}")
print(f"The number of characters in the article is {no_of_characters}")
print(f"The average number of words per sentence is {words_per_sentence}")
print(f"The average number of characters per word is {round(characters_per_word, 2)}")
print(f"The average number of characters per sentence is {round(characters_per_sentence, 2)}")

Enter your name here : John Doe
Enter your email address here : johndoe@gmail.com
Enter your phone number here : 0721212121
Enter the location where you live here : Westlands
Write a short article on why you should be considered for a scholarship opportunity (It should be between 50-200 words): I am very hardworking. I come from a humbe background and I like studying. I am always willling to learn and I am good at working with people. I am very much looking forward to upskilling and improving on the much that I already know. Thank you for the consideration.
The number of sentences in the article is 5
The number of words in the article is 50
The number of characters in the article is 267
The average number of words per sentence is 10.0
The average number of characters per word is 5.34
The average number of characters per sentence is 53.4

# Assignment Operators

assign =

add and assign +=

subtract and assign -=

multiply and assign *=

divide and assign /=

In [ ]:
age = 30
age = age + 1
print(age)

31

In [ ]:
age = 30
age += 1
# age = age + 1
print(age)

31

In [ ]:
number = 10000

number -= 500
# number = number - 500

print(number)

9500

# Comparison Operators

- are used to compare two values, two variables or a value and a variable. They return a boolean value (True or False)

equal to ==  - return True if the two values are equal to each other and False if they are not equal to each other

not equal to !=  - return True if the two values are NOT equal to each other and False if they are equal to each other

greater than > - return True if the value on the left hand side is greater than the one on the right

less than < - return True if the value on the left hand side is less than the one on the right

greater than or equal to >= - return True if the value on the left hand side is either greater or equal to the one on the right side

less than or equal to <=  - return True if the value on the left hand side is either less or equal to the one on the right side

In [ ]:
print(20 == 40)

False

In [ ]:
number1 = 50
number2 = 90

print(number1 != number2)

True

In [ ]:
print(number1 > number2)

False

In [ ]:
print(number1 < number2)

True

In [ ]:
print(number1 >= 50)

True

In [ ]:
print(number1 <= 60)

True

Write a python script that displays boolean values on the checks specified:

- Prompt the user to enter their two names in two separate inputs
- Check whether the length of the first name is equal to the length of the second
- Check whether the length of the first name is greater than the length of the second name

In [ ]:
first_name = input("Enter your first name : ")
second_name = input("Enter your second name : ")

len_first = len(first_name)
len_second = len(second_name)

print(len_first == len_second)
print(len_first > len_second)

Enter your first name : Peter
Enter your second name : Gachuki
False
False

In [ ]:
print(len("Peter") == len("Peter "))

False

# Conditional statements

- AKA if statements
- Check if a particular condition is satisfied before running a block of code

In [ ]:
# Basic syntax

# if condition:
#   code to be executed if the condition is True
# else:
#   code to be executed if the condition is False

number1 = 100
number2 = 99

# add functionality to return the difference if the two are not equal to each other (It's not a must to have an absolute value)
if number1 == number2:
  print("The two numbers are equal to each other")
else:
  diff = number1 - number2
  print(f"The two numbers are NOT equal to each other. They have a difference of {diff}")

The two numbers are NOT equal to each other. They have a difference of 1

Write a python script that gets the year of birth of someone, caluculates their age then checks if they can vote (legal voting age is 18)

if they are 18 and over, print that they can vote

if not, they cannot vote, but they have x years before they are legally allowed to vote

In [ ]:
year_of_birth = int(input("Enter the year you were born : "))
age = 2025 - year_of_birth

if age >= 18:
  print("You are eligible to vote")
else:
  difference = 18 - age
  print(f"You are NOT eligible to vote. You still have {difference} years left before you can vote")

Enter the year you were born : 2015
You are NOT eligible to vote. You still have 8 years left before you can vote

Addressing multiple conditions

In [ ]:
# Syntax:

# if condition1:
#   code to be run if condition1 is satisfied
# elif condition2:
#   code to be run if condition2 is satisfied
# elif condition3:
#   code to be run if condition3 is satisfied
# else:
#   code to be run if none of the conditions is satisfied


john_salary = 250000
mary_salary = 320000

# add functionality that includes the salary gaps in both
if john_salary == mary_salary:
  print(f"John and Mary have the same salary of {john_salary}")
elif john_salary > mary_salary:
  difference = john_salary - mary_salary
  print(f"John has a higher salary than Mary. The salary gap is {difference}")
else:
  difference = mary_salary - john_salary
  print(f"Mary has a higher salary than John. The salary gap is {difference}")

Mary has a higher salary than John. The salary gap is 70000

Write a python script that takes the year of birth of someone then categorizes them into their generation

Gen Beta - 2025 - 2039

Gen Alpha - 2012 - 2024

Gen Z - 1997 - 2011

Millenial - 1981 - 1996

Gen X - 1965 - 1980

Baby Boomers - 1946 - 1964

In [ ]:
year = int(input("Enter your year of birth here : "))

if year >= 2025:
  print("Gen Beta")
elif year >= 2012:
  print("Gen Alpha")
elif year >= 1997:
  print("Gen Z")
elif year >= 1981:
  print("Millenial")
elif year >= 1965:
  print("Gen X")
elif year >= 1946:
  print("Baby Boomers")

Enter your year of birth here : 1950
Baby Boomers

Logical Operators

And - return True if two conditions are satisfied

Or - return True if at least one condition is satisfied

Not - negates a boolean

In [ ]:
print(1 == 10 and "Peter" == "Peter")

False

In [ ]:
print(3 > 5 or 100 != 10)

True

In [ ]:
print(not 100 == 100)

False

Fizz Buzz Challenge

Write a python script that takes a number input and performs the following checks:
1. Print fizz if the number is divisible by 3
2. Print buzz if the number is divisible by 5
3. Print fizzbuzz if the number is both divisible by 3 and 5

In [ ]:
number = int(input("Enter the number here : "))

if number % 3 == 0 or number % 5 == 0:
  print("Fizzbuzz")
elif number % 3 == 0:
  print("Fizz")
elif number % 5 == 0:
  print("Buzz")

Enter the number here : 15
Fizzbuzz

Write a python script that checks if a given number is a leap year

A leap year should be divisible by 4. If it is divisible by 100, it should also be divisible by 400

In [ ]:
year = int(input("Enter the year here : "))

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print("Leap Year")
    else:
      print("Not a leap year")
  else:
    print("Leap Year")
else:
  print("Not a leap year")

Enter the year here : 2013
Not a leap year

Pass - is used as a placeholder for blocked code

In [ ]:
if 1 == 1:
  pass

Sequential datatypes -store more than a single value in a variable

- list, tuple, set

# List

- defined using square brackets []
- stores ordered items
- can store different datatypes as elements

Indexing

- the first element in a list is index 0
- the last element in a list is index -1

In [ ]:
# list_name = [item1, item2, item3 .....]

browsers = ["Chrome", "Firefox", "Brave", "Edge", "Safari", "Opera"]

print(type(browsers))

<class 'list'>

In [ ]:
print(len(browsers))

6

In [ ]:
print(type(browsers[0]))

<class 'str'>

In [ ]:
last_element = browsers[5]

print(last_element)

Opera

In [ ]:
print(browsers[-1])

Opera

Changing a value in a list - we use its index

In [ ]:
browsers[4] = "Tor"

print(browsers)

['Chrome', 'Firefox', 'Brave', 'Edge', 'Tor', 'Opera']

In [ ]:
print(type("Peter"))
print(type(["Peter", "John", "James"]))

<class 'str'>
<class 'list'>

List methods

.append() - add an element to the end of a given list

In [ ]:
fruits = ["Apple", "Banana", "Pineapple", "Pawpaw", "Grapes", "Avocado", "Kiwi"]

fruits.append("Mango")

print(fruits)

['Apple', 'Banana', 'Pineapple', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi', 'Mango']

In [ ]:
name = "Peter"
name = name.upper()
print(name)

PETER

.insert() - adds a new element in a specified index

In [ ]:
print(fruits)

['Apple', 'Banana', 'Pineapple', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi', 'Mango']

In [ ]:
fruits.insert(2, "Strawberry")

print(fruits)

['Apple', 'Banana', 'Strawberry', 'Pineapple', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi', 'Mango']

In [ ]:
random_list = ["Peter", 60, 3.142, True, ["John", "James", "Mary"]]

print(random_list)

['Peter', 60, 3.142, True, ['John', 'James', 'Mary']]

In [ ]:
print(len(random_list))

5

.pop() - removes the last element in a list by default

.pop(index) - removes the element at a specified index

In [ ]:
print(fruits)

['Apple', 'Banana', 'Strawberry', 'Pineapple', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi', 'Mango']

In [ ]:
fruits.pop()

print(fruits)

['Apple', 'Banana', 'Strawberry', 'Pineapple', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

In [ ]:
fruits.pop(3)

print(fruits)

['Apple', 'Banana', 'Strawberry', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

.remove() - removes an element of a specified value

In [ ]:
print(fruits)

['Apple', 'Banana', 'Strawberry', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

In [ ]:
fruits.remove("Banana")

print(fruits)

['Apple', 'Strawberry', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

Joining multiple lists - concatenation of lists - use +

sorted() sorts the list in ascending order

In [ ]:
phone_brands = ["Samsung", "iPhone", "Xiaomi", "Tecno", "Infinix", "Sony"]
laptop_brands = ["Macbook", "HP", "Dell", "Lenovo", "Asus"]

general_brands = phone_brands + laptop_brands

print(sorted(general_brands))

['Asus', 'Dell', 'HP', 'Infinix', 'Lenovo', 'Macbook', 'Samsung', 'Sony', 'Tecno', 'Xiaomi', 'iPhone']

In [ ]:
string_numbers = ["7", "2", "9", "6", "1", "12", "35", "18"]
numerical_numbers = [7, 2, 9, 6, 1, 12, 35, 18]

print(sorted(string_numbers))
print(sorted(numerical_numbers))

['1', '12', '18', '2', '35', '6', '7', '9']
[1, 2, 6, 7, 9, 12, 18, 35]

Slicing - taking a portion from a sequence

syntax: list_name[start:stop:step]

start - default value is 0 index, start is inclusive

stop - default it goes to the very last element, stop is exclusive

step - how many steps we take before we get to the next element, default value is 1

In [ ]:
print(fruits)

['Apple', 'Strawberry', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

In [ ]:
sliced_list = fruits[1:4:1]

print(sliced_list)

['Strawberry', 'Pawpaw', 'Grapes']

In [ ]:
print(fruits[:3:])

['Apple', 'Strawberry', 'Pawpaw']

In [ ]:
print(fruits[1::2])

['Strawberry', 'Grapes', 'Kiwi']

In [ ]:
print(fruits)

['Apple', 'Strawberry', 'Pawpaw', 'Grapes', 'Avocado', 'Kiwi']

In [ ]:
print(fruits[3:5])

['Grapes', 'Avocado']

Write a python script that implements the following functionalities

1. Initialize 2 empty lists called male_baby_names and female_baby_names
2. Append 3 male baby names and 4 female baby names (separately)
3. Insert the name Tariq to the male baby names at index 1
4. Do away with the last name in the female baby names
5. Join the two lists and call the resultant list cute_names
6. Sort the cute names in ascending order (A-Z)
7. Get the length of the cute names
8. Print the second last name in the cute names list
9. Change the value of the first name on the cute names list to Layla
10. Slice the list from the second element (index 1) to the third element (index 2) and save the result to sliced_list

In [ ]:
male_baby_names = []
female_baby_names = []

male_baby_names.append("Arlo")
male_baby_names.append("Kaka")
male_baby_names.append("Jace")

print(f"Male baby names after appending : {male_baby_names}")

female_baby_names.append("Shiko")
female_baby_names.append("Talya")
female_baby_names.append("Nova")
female_baby_names.append("Samantha")
print(f"Female baby names after appending : {female_baby_names}")

male_baby_names.insert(1, "Tariq")
female_baby_names.pop()

cute_names = male_baby_names + female_baby_names
print(f"Cute names after concatenation : {cute_names}")
cute_names = sorted(cute_names)
print(f"Sorted cute names : {cute_names}")

len_cute_names = len(cute_names)
print(f"The length of the cute names list is {len_cute_names}")

print(f"The second last name in the cute names list is {cute_names[-2]}")

cute_names[0] = "Layla"

sliced_list = cute_names[1:3]

print(f"Sliced list : {sliced_list}")

Male baby names after appending : ['Arlo', 'Kaka', 'Jace']
Female baby names after appending : ['Shiko', 'Talya', 'Nova', 'Samantha']
Cute names after concatenation : ['Arlo', 'Tariq', 'Kaka', 'Jace', 'Shiko', 'Talya', 'Nova']
Sorted cute names : ['Arlo', 'Jace', 'Kaka', 'Nova', 'Shiko', 'Talya', 'Tariq']
The length of the cute names list is 7
The second last name in the cute names list is Talya
Sliced list : ['Jace', 'Kaka']

Unpacking a list - saving the elements in a list in separate variables

In [ ]:
ages = [25, 33, 45]

age1, age2, age3 = ages

print(age1)
print(age2)
print(age3)

25
33
45

# Tuple

- Ordered
- Unchangeable / immutable - we cannot change the value of an element, add nor remove an element from a tuple

In [ ]:
# syntax:

# list_name = [item1, item2, item3...]
# tuple_name = (item1, item2, item3....)

emobilis_courses = ("Data Science", "Fullstack software development", "Cybersecurity", "AI for Software Developers", "Mobile App Development", "Web Development", "Advanced Javascript")

print(type(emobilis_courses))

<class 'tuple'>

In [ ]:
print(emobilis_courses[-1])

Advanced Javascript

In [ ]:
# emobilis_courses[0] = "Machine Learning"
# emobilis_courses.append("PHP")

Work-around of adding, removing or changing the values in a given tuple

In [ ]:
print(emobilis_courses)
emobilis_courses = list(emobilis_courses)
emobilis_courses.append("PHP")
print(emobilis_courses)
emobilis_courses = tuple(emobilis_courses)
print(emobilis_courses)

('Data Science', 'Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development', 'Advanced Javascript')
['Data Science', 'Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development', 'Advanced Javascript', 'PHP']
('Data Science', 'Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development', 'Advanced Javascript', 'PHP')

Slicing

1. Fullstack software development to the end
2. Data Science to Cybersecurity
3. Data Science to Web Development
4. Advanced Javascript to the end
5. Data Science, AI for Software Developers, Advanced Javascript

In [ ]:
print(emobilis_courses)

('Data Science', 'Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development', 'Advanced Javascript', 'PHP')

In [ ]:
print(emobilis_courses[1:])

('Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development', 'Advanced Javascript', 'PHP')

In [ ]:
print(emobilis_courses[:3])

('Data Science', 'Fullstack software development', 'Cybersecurity')

In [ ]:
print(emobilis_courses[0:6])

('Data Science', 'Fullstack software development', 'Cybersecurity', 'AI for Software Developers', 'Mobile App Development', 'Web Development')

In [ ]:
print(emobilis_courses[6:])

('Advanced Javascript', 'PHP')

In [ ]:
print(emobilis_courses[::3])

('Data Science', 'AI for Software Developers', 'Advanced Javascript')

# Sets

- Unordered
- Do not accept duplicate values
- Unchangeable but we can still add and remove items

In [ ]:
# list_name = [item1, item2, item3]
# tuple_name = (item1, item2, item3)
# set_name = {item1, item2, item3}

skills = {"Python Programming", "Data Analysis", "Machine Learning", "AI"}

print(skills)
print(type(skills))

{'Python Programming', 'Machine Learning', 'Data Analysis', 'AI'}
<class 'set'>

Adding elements to a set - .add()

In [ ]:
skills.add("Web Development")

print(skills)

{'AI', 'Data Analysis', 'Web Development', 'Machine Learning', 'Python Programming'}

In [ ]:
skills.add("ai")
print(skills)

{'AI', 'ai', 'Data Analysis', 'Web Development', 'Machine Learning', 'Python Programming'}

In [ ]:
print("AI" == "ai")

False

In [ ]:
names = ["Peter", "John", "James"]
names.append("John")
print(names)

['Peter', 'John', 'James', 'John']

In [ ]:
names = ("Mary", "Jane", "Mercy", "Jane")
print(names)

('Mary', 'Jane', 'Mercy', 'Jane')

In [ ]:
colours = ["Red", "Black", "Red", "Green", "Black", "Grey", "Pink", "Grey"]
print(len(colours))

8

In [ ]:
colours = set(colours)
print(colours)

{'Green', 'Black', 'Grey', 'Red', 'Pink'}

In [ ]:
colours = list(colours)
print(colours)

['Green', 'Black', 'Grey', 'Red', 'Pink']

# Dictionaries

- Are used to store values in key - value pairs
- ordered
- changeable
- does not allow for duplicates

In [ ]:
# syntax:

# dict_name = {
#     key1: value1,
#     key2: value2,
#     key3: value3
# }

programmer_details = {
    "Name": "John Doe",
    "Age": 20,
    "Country": "Kenya",
    "Programming Languages": ["Python", "JS"],
    "Disciplined": True
}

print(programmer_details)

{'Name': 'John Doe', 'Age': 20, 'Country': 'Kenya', 'Programming Languages': ['Python', 'JS'], 'Disciplined': True}

Getting values using their keys

1. Using the square brackets
2. Using the .get()

In [ ]:
print(programmer_details["Name"])

John Doe

In [ ]:
print(programmer_details.get("Country"))

Kenya

Getting the keys using .keys() and values using .values()

In [ ]:
print(programmer_details.keys())

dict_keys(['Name', 'Age', 'Country', 'Programming Languages', 'Disciplined'])

In [ ]:
print(programmer_details.values())

dict_values(['John Doe', 20, 'Kenya', ['Python', 'JS'], True])

Removing a key-value pair from a dictionary

In [ ]:
programmer_details.pop("Country")

print(programmer_details)

{'Name': 'John Doe', 'Age': 20, 'Programming Languages': ['Python', 'JS'], 'Disciplined': True}

Adding key-value pairs to a dictionary

1. Direct assignment
2. Using the .update() method

In [ ]:
print(programmer_details)

{'Name': 'John Doe', 'Age': 20, 'Programming Languages': ['Python', 'JS'], 'Disciplined': True}

In [ ]:
programmer_details["Soft Skills"] = ["Public Speaking", "Teamwork", "Leadership"]

print(programmer_details)

{'Name': 'John Doe', 'Age': 20, 'Programming Languages': ['Python', 'JS'], 'Disciplined': True, 'Soft Skills': ['Public Speaking', 'Teamwork', 'Leadership']}

In [ ]:
programmer_details.update({
    "Hours Per Week": 40,
    "Married": False,
    "Location": "Nairobi"
})

print(programmer_details)

{'Name': 'John Doe', 'Age': 20, 'Programming Languages': ['Python', 'JS'], 'Disciplined': True, 'Soft Skills': ['Public Speaking', 'Teamwork', 'Leadership'], 'Hours Per Week': 40, 'Married': False, 'Location': 'Nairobi'}

Write a python script that takes the following inputs from the user and saves them in a dictionary:

1. Name
2. Age
3. Area of residence

Add the following to the dictionary (taken from a user input):

4. Occupation
5. Whether they are a christian (Boolean) - stores True or False
6. Highest level of education (Options are : Primary, secondary, certificate, diploma, degree, masters, PhD)

Do away with the age

- Print the keys
- Print the values

- Print the whole dictionary

In [ ]:
name = input("Enter your name here : ")
age = float(input("Enter your age here : "))
residence = input("Enter your area of residence here : ")

user_details = {
    "Name": name,
    "Age": age,
    "Area of Residence": residence
}

print(user_details)

occupation = input("Enter your occupation here : ")
is_christian = input("Are you a christian? (Yes or No) : ").upper()
if is_christian == "YES" or is_christian == "Y" or is_christian == "CHRISTIAN":
  is_christian = True
elif is_christian == "NO" or is_christian == "MUSLIM" or is_christian == "HINDU" or is_christian == "AETHIST" or is_christian == "N":
  is_christian = False
else:
  print("You have entered an invalid input!")

education_level = input("""
What is your highest level of education :
1. Primary School
2. Secondary School
3. Certificate
4. Diploma
5. Degree
6. Masters
7. PhD
""").upper()

if education_level == "1" or education_level == "PRIMARY SCHOOL":
  education_level = "Primary School"
elif education_level == "2" or education_level == "SECONDARY SCHOOL":
  education_level = "Secondary School"
elif education_level == "3" or education_level == "CERTIFICATE":
  education_level = "Certificate"
elif education_level == "4" or education_level == "DIPLOMA":
  education_level = "Diploma"
elif education_level == "5" or education_level == "DEGREE":
  education_level = "Degree"
elif education_level == "6" or education_level == "MASTERS":
  education_level = "Masters"
elif education_level == "7" or education_level == "PHD":
  education_level = "PhD"
else:
  print("You have entered an invalid input!")

user_details.update({
    "Occupation": occupation,
    "Is Christian": is_christian,
    "Highest Level of Education": education_level
})

user_details.pop("Age")

print(user_details.keys())
print(user_details.values())
print(user_details)

Are you a christian? (Yes or No)yes
True

Identity Operator

is

is not

- the identity operator is is used to check whether two variables occupy the same location in memory

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a is b)
print(a == b)

False
True

In [ ]:
c = a

print(a is c)

True

Membership Operator

- in
- not in

- Checks for membership in sequence(string, list, tuple)

In [ ]:
print("Peter" in "My name is Peter Gachuki")

True

In [ ]:
print(24 in [20, 30, 43, 24, 68])

True

Write a python script that takes an article input from a user and checks for any instance of double spacing.

In [ ]:
article = input("Enter your article here : ")
if "  " in article:
  article = article.replace("  ", " ")

print(article)

Enter your article here : I am very  happy. Today  is  a good  day
I am very happy. Today is a good day

# Loops

- iterate over a block of code several times

- For loop
- While loop

For loops - is used to iterate over sequential datatypes and ranges

In [ ]:
import time

fruits = ["Mango", "Passion", "Pineapple", "Orange"]

# syntax:
# for active_element in list_name:
#   code to be run at each iteration

for active_element in fruits:
  print(active_element)
  print("----------------")
  time.sleep(5)

Mango
----------------
Passion
----------------
Pineapple
----------------
Orange
----------------

In [ ]:
celebrities = ["Cristiano Ronaldo", "Beyonce", "Ariana Grande", "Mr. Beast", "Rihanna", "Stevo Simple Boy"]
big_celebrities = ["Cristiano Ronaldo", "Beyonce"]

for celeb in celebrities:
  if celeb in big_celebrities:
    print(f"{celeb} is a BIG celebrity")
  else:
    print(f"{celeb} is well known")

Cristiano Ronaldo is a BIG celebrity
Beyonce is a BIG celebrity
Ariana Grande is well known
Mr. Beast is well known
Rihanna is well known
Stevo Simple Boy is well known

enumerate() - is used in loops to keep track of the index and store the active element

In [ ]:
for idx, celeb in enumerate(celebrities):
  print(f"{idx + 1}. {celeb}")

1. Cristiano Ronaldo
2. Beyonce
3. Ariana Grande
4. Mr. Beast
5. Rihanna
6. Stevo Simple Boy

Break and continue

- Break - it terminates the execution of the loop there and then
- Continue - it stops executing the current iteration and skips to the next

In [ ]:
celebrities = ["Cristiano Ronaldo", "Beyonce", "Ariana Grande", "Mr. Beast", "Rihanna", "Stevo Simple Boy"]

for celeb in celebrities:
  if celeb == "Ariana Grande":
    break
  print(celeb)

Cristiano Ronaldo
Beyonce

In [ ]:
celebrities = ["Cristiano Ronaldo", "Beyonce", "Ariana Grande", "Mr. Beast", "Rihanna", "Stevo Simple Boy"]

for celeb in celebrities:
  if celeb == "Ariana Grande":
    continue
  print(celeb)

Cristiano Ronaldo
Beyonce
Mr. Beast
Rihanna
Stevo Simple Boy

In [ ]:
for number in range(12, 25):
  print(number)

12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
print(range(12, 25))

range(12, 25)

In [ ]:
for i in range(10):
  print("I love programming")

I love programming
I love programming
I love programming
I love programming
I love programming
I love programming
I love programming
I love programming
I love programming
I love programming

While loops - this loop iterates over a block of code until a certain condition is met

* NB:

Avoid non-teminating / infinite loops

In [ ]:
number = 5

while number < 10:
  print(number)
  number += 1

5
6
7
8
9

1. Write a python script that takes 5 inputs from the user in a loop. The inputs should be on the names of the big 5. List them down and number them in the order in which the user input them.

2. Write a python script that returns a list of all the numbers between 1 and 1000(inclusive) that are both divisible by 11 and 13

In [ ]:
big_5 = []
for i in range(5):
  one_big_5 = input("Enter one of the big 5 animals : ")
  big_5.append(one_big_5)

for idx, big_5_animal in enumerate(big_5):
  print(f"{idx + 1}. {big_5_animal}")

Enter one of the big 5 animals : lion
Enter one of the big 5 animals : leopard
Enter one of the big 5 animals : rhino
Enter one of the big 5 animals : buffalo
Enter one of the big 5 animals : elephant
1. lion
2. leopard
3. rhino
4. buffalo
5. elephant

In [ ]:
div_11_13 = []

for i in range(1, 1001):
  if i % 11 == 0 and i % 13 == 0:
    div_11_13.append(i)


print(div_11_13)

[143, 286, 429, 572, 715, 858]

# Functions

- A function is a block of code that runs only when it is called. It performs a specific task
- It is defined using the def keyword
- It can take in information, process it and return the result
- Enable reusability of code

Types of functions
- Built in functions - come with python - eg print, input, max, min
- User defined functions -
- Library functions
- Lambda functions - short form functions (one-liners)

In [ ]:
numbers = [34, 54, 12, 54, 76, 78]

print(max(numbers))
print(min(numbers))
print(sum(numbers))

78
12
308

User defined functions
- Parameters - is a variable taken by a function at its definition stage and it can be used as a variable within the function
- Arguments

In [ ]:
# syntax

# def function_name(parameter1, parameter2, parameter3):
#   code to be executed
#   return value

# argument1 = 25
# function_name(argument1, argument2, argument3)

def greetings(name, time_of_day):
  if time_of_day == "morning":
    return f"Good morning {name}!"
  elif time_of_day == "afternoon":
    return f"Good afternoon {name}!"
  elif time_of_day == "evening":
    return f"Good evening {name}!"
  else:
    return f"Hello {name}!"


name = input("Enter your name here : ")
time_of_day = input("Enter the time of day : ")

my_greeting = greetings(time_of_day=time_of_day, name=name)
print(my_greeting)

Enter your name here : Mark
Enter the time of day : evening
Good evening Mark!

Write a python script that calculates the area of a circle from a given diameter

A = pi * r ** 2

In [ ]:
def area_of_circle(diameter):
  radius = diameter / 2
  return 3.142 * radius ** 2

diameter = float(input("Enter the diameter of the circle here : "))
calculated_area = round(area_of_circle(diameter), 2)
print(f"The area of a circle with diameter {diameter} units is {calculated_area} square units")

Enter the diameter of the circle here : 25.8
The area of a circle with diameter 25.8 units is 522.86 square units

Create functions that do the following:

1. Calculates the area of a rectangle A = l * w
2. Calculates the surface area of a sphere  A = 4 * pi * r ** 2
3. Calculates the volume of a sphere V = 4/3 * pi * r ** 3
4. Calculates the surface area of a closed cylinder A = (2 * pi * r ** 2) + (2 * pi * r * h)

In [ ]:
def area_rectangle(length, width):
  return length * width

length = float(input("Enter the length of the rectangle here : "))
width = float(input("Enter the width of the rectangle here : "))
calculated_area_rectangle = area_rectangle(length, width)
print(f"The area of a rectangle with length {length} units and width {width} units is {calculated_area_rectangle} square units")

Enter the length of the rectangle here : 20
Enter the width of the rectangle here : 12
The area of a rectangle with length 20.0 units and width 12.0 units is 240.0 square units

In [ ]:
def surface_area_sphere(radius):
  return 4 * 3.142 * radius ** 2

radius = float(input("Enter the radius of the sphere here : "))
calculated_surface_area_sphere = surface_area_sphere(radius)
print(f"The surface area of a sphere with radius {radius} units is {calculated_surface_area_sphere} square units")

Enter the radius of the sphere here : 20
The surface area of a sphere with radius 20.0 units is 5027.2 square units

In [ ]:
def vol_sphere(radius):
  return 4 / 3 * 3.142 * radius ** 3

radius = float(input("Enter the radius of the sphere here : "))
calculated_vol_sphere = vol_sphere(radius)
print(f"The volume of a sphere with radius {radius} units is {calculated_vol_sphere} cubic units")

Enter the radius of the sphere here : 14
The volume of a sphere with radius 14.0 units is 11495.530666666666 cubic units

In [ ]:
def surface_area_closed_cylinder(radius, height):
  return (2 * 3.142 * radius ** 2) + (2 * 3.142 * radius * height)

radius = float(input("Enter the radius of the closed cylinder here : "))
height = float(input("Enter the height of the closed cylinder here : "))
calculated_surface_area_closed_cylinder = surface_area_closed_cylinder(radius, height)

print(f"The surface area of a closed cylinder with radius {radius} units and height {height} units is {calculated_surface_area_closed_cylinder} square units")

Enter the radius of the closed cylinder here : 30
Enter the height of the closed cylinder here : 21
The surface area of a closed cylinder with radius 30.0 units and height 21.0 units is 9614.519999999999 square units

# Libraries

- Are scripts of code that are pre-written to easen the burden of implementation of common functionalities from scratch
- Download/install them - !pip install library_name
- Import
- Use it

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import math

# print(math.sqrt(144))
number = 23.56

# round off
print(round(number, 1))

# rounding down - floor
print(math.floor(number))

# rounding up - ceil
print(math.ceil(number))

23.6
23
24

In [ ]:
import statistics

numbers = [21, 34, 54, 84, 55, 71, 54]

print(statistics.mean(numbers))
print(statistics.median(numbers))
print(statistics.mode(numbers))

53.285714285714285
54
54

In [ ]:
import pandas as pd
import numpy as np

Random Library

In [ ]:
import random

for i in range(10):
  print(random.randrange(1, 100))

53
13
97
12
4
87
16
17
41
61

In [ ]:
colour = ["Black", "Green", "Red", "Yellow", "Pink", "Grey"]

print(random.choice(colour))

Grey

In [ ]:
import random
print("Welcome to the Snakes and Ladders Game")
options = [1, 2, 3, 4, 5, 6]
player1_position = 0
player2_position = 0
counter = 1

while True:
  # player 1
  if counter % 2 == 0:
    user_response = input("Player 1: Type Play or P to roll the dice : ").lower()
    if user_response == "play" or user_response == "p":
      pass
    elif user_response == "quit" or user_response == "exit":
      break
    else:
      print(f"You have entered an invalid input : {user_response}")
  else:
    # player 2
    user_response = input("Player 2: Type Play or P to roll the dice : ").lower()
    if user_response == "play" or user_response == "p":
      pass
    elif user_response == "quit" or user_response == "exit":
      break
    else:
      print(f"You have entered an invalid input : {user_response}")

Welcome to the Snakes and Ladders Game
2

Snakes and Ladders Game

In [ ]:
import random

snakes = {
    36: 17,
    41: 3,
    44: 14,
    47: 32
}
ladders = {
    4: 25,
    8: 34,
    12: 31,
}

print("Welcome to the Snakes and Ladders Game")
dice_choices = [1, 2, 3, 4, 5, 6]
player_position = 0

while True:
  print(f"Current Player Position : {player_position}" )
  user_input = input("Press enter to play : ").lower()
  if user_input == "":
    dice_choice = random.choice(dice_choices)
    print(f"The dice has landed on {dice_choice}")
    player_position += dice_choice
    if player_position == 50:
      print("Congratulations! You have won the game!")
    elif player_position > 50:
      steps_to_50 = 50 - (player_position - dice_choice) # 4
      steps_back = dice_choice - (steps_to_50) #1
      player_position = 50 - steps_back
      player_position
    elif player_position < 50:
      if player_position in snakes:
        player_position = snakes[player_position]
      elif player_position in ladders:
        player_position = ladders[player_position]

    print(f"You have moved to {player_position}")
  elif user_input == "quit" or user_input == "exit" or user_input == "q":
    break
  else:
    print(f"You have entered an invalid input : {user_input}")
  print("=================================")

Welcome to the Snakes and Ladders Game
Current Player Position : 0
Press enter to play :
The dice has landed on 3
You have moved to 3
=================================
Current Player Position : 3
Press enter to play :
The dice has landed on 5
You have moved to 34
=================================
Current Player Position : 34
Press enter to play :
The dice has landed on 2
You have moved to 17
=================================
Current Player Position : 17
Press enter to play :
The dice has landed on 1
You have moved to 18
=================================
Current Player Position : 18
Press enter to play :
The dice has landed on 4
You have moved to 22
=================================
Current Player Position : 22
Press enter to play :
The dice has landed on 4
You have moved to 26
=================================
Current Player Position : 26
Press enter to play :
The dice has landed on 6
You have moved to 32
=================================
Current Player Position : 32
Press enter to play :
The dice has landed on 1
You have moved to 33
=================================
Current Player Position : 33
Press enter to play :
The dice has landed on 5
You have moved to 38
=================================
Current Player Position : 38
Press enter to play :
The dice has landed on 2
You have moved to 40
=================================
Current Player Position : 40
Press enter to play :
The dice has landed on 6
You have moved to 46
=================================
Current Player Position : 46
Press enter to play :
The dice has landed on 2
You have moved to 48
=================================
Current Player Position : 48
Press enter to play :
The dice has landed on 4
2
2
You have moved to 48
=================================
Current Player Position : 48
Press enter to play : q

Rock Paper Scissors

- Write a python script that implements the rock, paper, scissors game vs PC using the random library

In [ ]:
import random

print("Welcome to the Rock, Paper, Scissors Game")
possible_choices = ["rock", "paper", "scissors"]
pc_choice = random.choice(possible_choices)
user_points = 0
pc_points = 0

while user_points < 2 and pc_points < 2:
  user_choice = input("Enter your choice: Rock, Paper or Scissors : ").lower()
  if user_choice == "quit" or user_choice == "exit":
    break

  if user_choice == pc_choice:
    print(f"This is a tie. You both chose : {user_choice}")
  elif user_choice == "rock" and pc_choice == "scissors" or user_choice == "paper" and pc_choice == "rock" or user_choice == "scissors" and pc_choice == "paper":
    print(f"You have won. You chose {user_choice} and the PC chose {pc_choice}")
    user_points += 1
    print(f"User points : {user_points}")
    print(f"PC points : {pc_points}")
  elif user_choice == "rock" and pc_choice == "paper" or user_choice == "paper" and pc_choice == "scissors" or user_choice == "scissors" and pc_choice == "rock":
    print(f"You have lost. You chose {user_choice} and the PC chose {pc_choice}")
    pc_points += 1
    print(f"User points : {user_points}")
    print(f"PC points : {pc_points}")
  else:
    print(f"You have entered an invalid input : {user_choice}")


if user_points > pc_points:
  print(f"User wins: {user_points} against {pc_points}")
elif user_points < pc_points:
  print(f"PC wins: {pc_points} against {user_points}")
else:
  print("It's a tie")

Welcome to the Rock, Paper, Scissors Game
Enter your choice: Rock, Paper or Scissors : paper
You have lost. You chose paper and the PC chose scissors
User points : 0
PC points : 1
Enter your choice: Rock, Paper or Scissors : scissors
This is a tie. You both chose : scissors
Enter your choice: Rock, Paper or Scissors : scissors
This is a tie. You both chose : scissors
Enter your choice: Rock, Paper or Scissors : rock
You have won. You chose rock and the PC chose scissors
User points : 1
PC points : 1
Enter your choice: Rock, Paper or Scissors : rock
You have won. You chose rock and the PC chose scissors
User points : 2
PC points : 1
User wins: 2 against 1

In [ ]:
import os

def clear():
    os.system("clear")

print("Safaricom SIM Toolkit")

for transaction in range(3):
    main_options = input("Enter an Option:\n1. Safaricom+\n2. M-Pesa\n")
    clear()

    if main_options == "1":
        safaricom_options = input("Select an Option:\n1. My Account\n2. M-Banking Services\n")
        clear()
        if safaricom_options == "1":
            my_account_options = input(
                "Select an Option:\n1. Balance Inquiry\n2. Top-Up\n3. Self Care\n4. Customer Care\n")
            clear()
            if my_account_options == "1":
                print(f"Your Airtime Balance is ...")
            elif my_account_options == "2":
                print("Top Up")
            elif my_account_options == "3":
                print("Self Care")
            elif my_account_options == "4":
                print("Customer Care")

        elif safaricom_options == "2":
            m_banking_options = input(
                "Select an Option:\n1. Barclays Bank\n2. Co-op Bank\n3. DTB\n4. Eco Bank\n5. Equity Bank\n6. Family Bank\n7. I&M Bank\n8. More\n")
            clear()
            if m_banking_options == "1":
                print("Barclays Bank")
            elif m_banking_options == "2":
                print("Co-op Bank")
            elif m_banking_options == "3":
                print("DTB")
            elif m_banking_options == "4":
                print("Eco Bank")
            elif m_banking_options == "5":
                print("Equity Bank")
            elif m_banking_options == "6":
                print("Family Bank")
            elif m_banking_options == "7":
                print("I&M Bank")
            elif m_banking_options == "8":
                print("More")

    elif main_options == "2":
        mpesa_options = input(
            "Select an Option:\n1. Send Money\n2. Withdraw Cash\n3. Buy Airtime\n"
            "4. Loans and Savings\n5. Lipa na M-PESA\n6. My Account\n")
        clear()
        if mpesa_options == "1":
            print("Send Money")
        elif mpesa_options == "2":
            withdraw_options = input("Select an Option:\n1. From Agent\n2. From ATM\n")
            clear()
            if withdraw_options == "1":
               print("Withdraw from agent")
            elif withdraw_options == "2":
               print("Withdraw from ATM")


        elif mpesa_options == "3":
            airtime_options = input("Select an Option:\n1. My Phone\n2. Other Number\n")
            clear()
            if airtime_options == "1":
                print("Buy Airtime for my number")
            elif airtime_options == "2":
                print("Buy Airtime for other number")
        elif mpesa_options == "4":
            loans_savings_options = input("Select an Option:\n1. M-Shwari\n2. KCB M-PESA\n")
            clear()
            if loans_savings_options == "1":
                mshwari_options = input(
                    "Enter an Option:\n1. Send to M-Shwari\n2. Withdraw from M-Shwari\n3. Lock Savings Account\n4. Loan @9% for 30 days\n5. Check balance\n6. Mini Statement\n")
                clear()
                if mshwari_options == "1":
                    print("Send to M-Shwari")
                elif mshwari_options == "2":
                    print("Withdraw from M-Shwari")
                elif mshwari_options == "3":
                    lock_acc_options = input(
                        "Enter an Option:\n1. Open Account\n2. Save\n3. Withdraw\n4. Check Balance\n5. Mini Statement\n")
                    clear()
                    if lock_acc_options == "1":
                        print("Open Account")
                    elif lock_acc_options == "2":
                        print("Save")
                    elif lock_acc_options == "3":
                        print("Withdraw")
                    elif lock_acc_options == "4":
                        print("Check Balance")
                    elif lock_acc_options == "5":
                        print("Mini Statement")
                elif mshwari_options == "4":
                    mshwari_loan_options = input(
                        "Enter an Option:\n1. Request Loan\n2. Pay Loan\n3. Check Loan Limit\n4. Loan Balance")
                    if mshwari_loan_options == "1":
                      print("Request Loan")
                    elif mshwari_loan_options == "2":
                        pay_mshwari_loan_options = input("Enter the Option:\n1. Pay Via Mpesa\n2. Pay Via Mshwari")
                        if pay_mshwari_loan_options == "1":
                          print("Pay Via Mpesa")
                        elif pay_mshwari_loan_options == "2":
                          print("Pay Via Mshwari")
                    elif mshwari_loan_options == "3":
                        print(f"Your Mshwari Loan Limit is ...")
                    elif mshwari_loan_options == "4":
                        print("Loan Balance")
                elif mshwari_options == "5":
                    print("Your M-shwari balance is ...")
                elif mshwari_options == "6":
                    print("Mini Statement")
            elif loans_savings_options == "2":
                kcb_mpesa_options = input(
                    "Enter an Option:\n1. Deposit from M-Pesa\n2. Withdraw to M-Pesa\n3. Loan @8.93% for 30 Days\n4. Fixed Savings Account\n5. My Account\n")
                clear()
                if kcb_mpesa_options == "1":
                    print("Deposit from M-Pesa")
                elif kcb_mpesa_options == "2":
                    print("Withdraw to M-Pesa")
                elif kcb_mpesa_options == "3":
                    print("Loan @8.93% for 30 days")
                elif kcb_mpesa_options == "4":
                    print("Fixed Savings Account")
                elif kcb_mpesa_options == "5":
                    print("My Account")
        elif mpesa_options == "5":
            lipa_na_mpesa_options = input(
                "Enter an Option:\n1. Pay Bill\n2. Buy Goods and Services\n3. Pochi la Biashara\n")
            clear()
            if lipa_na_mpesa_options == "1":
                print("Pay Bill")
            elif lipa_na_mpesa_options == "2":
                print("Buy goods and services")
            elif lipa_na_mpesa_options == "3":
                print("Pochi la Biashara")
        elif mpesa_options == "6":
            my_account_options = input(
                "Enter an Option:\n1. Mini Statement\n2. M-Pesa PIN Manager\n3. Change Language\n4. Update Customer Menu\n5. Check Balance")
            clear()
            if my_account_options == "1":
                print("Mini Statement")
            elif my_account_options == "2":
                print("M-Pesa PIN Manager")
            elif my_account_options == "3":
                print("Change Language")
            elif my_account_options == "4":
                print("Update Customer Menu")
            elif my_account_options == "5":
                print("Your Mpesa Balance is ...")

Safaricom SIM Toolkit
Enter an Option:
1. Safaricom+
2. M-Pesa
2
Select an Option:
1. Send Money
2. Withdraw Cash
3. Buy Airtime
4. Loans and Savings
5. Lipa na M-PESA
6. My Account
1
Send Money
Enter an Option:
1. Safaricom+
2. M-Pesa

KeyboardInterrupt: Interrupted by user

In [ ]:
    os.system("clear")

print("Safaricom SIM Toolkit")

for transaction in range(3):
    main_options = input("Enter an Option:\n1. Safaricom+\n2. M-Pesa\n")
    clear()

    if main_options == "1":
        safaricom_options = input("Select an Option:\n1. My Account\n2. M-Banking Services\n")
        clear()
        if safaricom_options == "1":
            my_account_options = input(
                "Select an Option:\n1. Balance Inquiry\n2. Top-Up\n3. Self Care\n4. Customer Care\n")
            clear()
            if my_account_options == "1":
                print(f"Your Airtime Balance is ...")
            elif my_account_options == "2":
                print("Top Up")
            elif my_account_options == "3":
                print("Self Care")
            elif my_account_options == "4":
                print("Customer Care")

        elif safaricom_options == "2":
            m_banking_options = input(
                "Select an Option:\n1. Barclays Bank\n2. Co-op Bank\n3. DTB\n4. Eco Bank\n5. Equity Bank\n6. Family Bank\n7. I&M Bank\n8. More\n")
            clear()
            if m_banking_options == "1":
                print("Barclays Bank")
            elif m_banking_options == "2":
                print("Co-op Bank")
            elif m_banking_options == "3":
                print("DTB")
            elif m_banking_options == "4":
                print("Eco Bank")
            elif m_banking_options == "5":
                print("Equity Bank")
            elif m_banking_options == "6":
                print("Family Bank")
            elif m_banking_options == "7":
                print("I&M Bank")
            elif m_banking_options == "8":
                print("More")

    elif main_options == "2":
        mpesa_options = input(
            "Select an Option:\n1. Send Money\n2. Withdraw Cash\n3. Buy Airtime\n"
            "4. Loans and Savings\n5. Lipa na M-PESA\n6. My Account\n")
        clear()
        if mpesa_options == "1":
            print("Send Money")
        elif mpesa_options == "2":
            withdraw_options = input("Select an Option:\n1. From Agent\n2. From ATM\n")
            clear()
            if withdraw_options == "1":
               print("Withdraw from agent")
            elif withdraw_options == "2":
               print("Withdraw from ATM")


        elif mpesa_options == "3":
            airtime_options = input("Select an Option:\n1. My Phone\n2. Other Number\n")
            clear()
            if airtime_options == "1":
                print("Buy Airtime for my number")
            elif airtime_options == "2":
                print("Buy Airtime for other number")
        elif mpesa_options == "4":
            loans_savings_options = input("Select an Option:\n1. M-Shwari\n2. KCB M-PESA\n")
            clear()
            if loans_savings_options == "1":
                mshwari_options = input(
                    "Enter an Option:\n1. Send to M-Shwari\n2. Withdraw from M-Shwari\n3. Lock Savings Account\n4. Loan @9% for 30 days\n5. Check balance\n6. Mini Statement\n")
                clear()
                if mshwari_options == "1":
                    print("Send to M-Shwari")
                elif mshwari_options == "2":
                    print("Withdraw from M-Shwari")
                elif mshwari_options == "3":
                    lock_acc_options = input(
                        "Enter an Option:\n1. Open Account\n2. Save\n3. Withdraw\n4. Check Balance\n5. Mini Statement\n")
                    clear()
                    if lock_acc_options == "1":
                        print("Open Account")
                    elif lock_acc_options == "2":
                        print("Save")
                    elif lock_acc_options == "3":
                        print("Withdraw")
                    elif lock_acc_options == "4":
                        print("Check Balance")
                    elif lock_acc_options == "5":
                        print("Mini Statement")
                elif mshwari_options == "4":
                    mshwari_loan_options = input(
                        "Enter an Option:\n1. Request Loan\n2. Pay Loan\n3. Check Loan Limit\n4. Loan Balance")
                    if mshwari_loan_options == "1":
                      print("Request Loan")
                    elif mshwari_loan_options == "2":
                        pay_mshwari_loan_options = input("Enter the Option:\n1. Pay Via Mpesa\n2. Pay Via Mshwari")
                        if pay_mshwari_loan_options == "1":
                          print("Pay Via Mpesa")
                        elif pay_mshwari_loan_options == "2":
                          print("Pay Via Mshwari")
                    elif mshwari_loan_options == "3":
                        print(f"Your Mshwari Loan Limit is ...")
                    elif mshwari_loan_options == "4":
                        print("Loan Balance")
                elif mshwari_options == "5":
                    print("Your M-shwari balance is ...")
                elif mshwari_options == "6":
                    print("Mini Statement")
            elif loans_savings_options == "2":
                kcb_mpesa_options = input(
                    "Enter an Option:\n1. Deposit from M-Pesa\n2. Withdraw to M-Pesa\n3. Loan @8.93% for 30 Days\n4. Fixed Savings Account\n5. My Account\n")
                clear()
                if kcb_mpesa_options == "1":
                    print("Deposit from M-Pesa")
                elif kcb_mpesa_options == "2":
                    print("Withdraw to M-Pesa")
                elif kcb_mpesa_options == "3":
                    print("Loan @8.93% for 30 days")
                elif kcb_mpesa_options == "4":
                    print("Fixed Savings Account")
                elif kcb_mpesa_options == "5":
                    print("My Account")
        elif mpesa_options == "5":
            lipa_na_mpesa_options = input(
                "Enter an Option:\n1. Pay Bill\n2. Buy Goods and Services\n3. Pochi la Biashara\n")
            clear()
            if lipa_na_mpesa_options == "1":
                print("Pay Bill")
            elif lipa_na_mpesa_options == "2":
                print("Buy goods and services")
            elif lipa_na_mpesa_options == "3":
                print("Pochi la Biashara")
        elif mpesa_options == "6":
            my_account_options = input(
                "Enter an Option:\n1. Mini Statement\n2. M-Pesa PIN Manager\n3. Change Language\n4. Update Customer Menu\n5. Check Balance")
            clear()
            if my_account_options == "1":
                print("Mini Statement")
            elif my_account_options == "2":
                print("M-Pesa PIN Manager")
            elif my_account_options == "3":
                print("Change Language")
            elif my_account_options == "4":
                print("Update Customer Menu")
            elif my_account_options == "5":
                print("Your Mpesa Balance is ...")